In [1]:
import requests
import pandas as pd
import json
from requests.exceptions import HTTPError, JSONDecodeError

In [2]:
#ALPHA INTELLIGENCE
#covar_url=f'https://alphavantageapi.co/timeseries/running_analytics?SYMBOLS={AAPL},{IBM},{IBM},{IBM},{IBM}&RANGE=2month&INTERVAL=DAILY&OHLC=close&WINDOW_SIZE=20&CALCULATIONS=MEAN,STDDEV(annualized=True)&apikey=F5G3ECI5K968B229'

# companyoverview_url=f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={ticker}&apikey=F5G3ECI5K968B229'
#get marketcap dividend , 50daymoving average, 200day moving averafe

forex_url='https://www.alphavantage.co/query?function=FX_DAILY&from_symbol=EUR&to_symbol=USD&apikey=F5G3ECI5K968B229'

crypto_url='https://www.alphavantage.co/query?function=CURRENCY_EXCHANGE_RATE&from_currency=BTC&to_currency=CNY&apikey=F5G3ECI5K968B229'
# can get realtime-data, plot prices on a chart and bubble points on markecap value

# F5G3ECI5K968B229 sjsu
# NQR2WJRB6F3LVPH2 madhuv
# OEW6DWI5S3P1B2N1 lm
#ECONOMIC INDICATORS
fed_interest_url='https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=monthly&apikey=OEW6DWI5S3P1B2N1'
#monthly data of interest rates to plot with non-farm payroll and unemployment rate

tyield_url = f'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=monthly&maturity=10year{3,5,10}&apikey=OEW6DWI5S3P1B2N1'

retail_sales_url = 'https://www.alphavantage.co/query?function=RETAIL_SALES&apikey=OEW6DWI5S3P1B2N1'

unempl_url = 'https://www.alphavantage.co/query?function=UNEMPLOYMENT&apikey=OEW6DWI5S3P1B2N1' # monthly data as %

nonfarm_payroll_url = 'https://www.alphavantage.co/query?function=NONFARM_PAYROLL&apikey=OEW6DWI5S3P1B2N1'#monthly total nonfarm

durable_url = 'https://www.alphavantage.co/query?function=DURABLES&apikey=OEW6DWI5S3P1B2N1'
cpi_url = 'https://www.alphavantage.co/query?function=CPI&interval=monthly&apikey=OEW6DWI5S3P1B2N1'
crude_url = 'https://www.alphavantage.co/query?function=WTI&interval=monthly&apikey=OEW6DWI5S3P1B2N1'

In [4]:
def ticker_data(tick):
    tick_url=f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={tick}&apikey=OEW6DWI5S3P1B2N1'
    
    rc = requests.get(tick_url)
    tick_data = rc.json()
    
    df = pd.DataFrame([tick_data])

    # Convert columns to numeric if they contain numerical data
    numeric_columns = ['MarketCapitalization', 'EBITDA', 'PERatio', 'PEGRatio', 'BookValue', 'DividendPerShare',
                       'DividendYield', 'EPS', 'RevenuePerShareTTM', 'ProfitMargin', 'OperatingMarginTTM',
                       'ReturnOnAssetsTTM', 'ReturnOnEquityTTM', 'RevenueTTM', 'GrossProfitTTM', 'DilutedEPSTTM',
                       'QuarterlyEarningsGrowthYOY', 'QuarterlyRevenueGrowthYOY', 'AnalystTargetPrice', 'TrailingPE',
                       'ForwardPE', 'PriceToSalesRatioTTM', 'PriceToBookRatio', 'EVToRevenue', 'EVToEBITDA', 'Beta',
                       '52WeekHigh', '52WeekLow', '50DayMovingAverage', '200DayMovingAverage', 'SharesOutstanding']

    df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
    """# Convert columns to numeric if they contain numerical data
    numeric_columns = ['MarketCapitalization', '50DayMovingAverage','200DayMovingAverage','DividendPerShare', 'DividendYield']
    tick_df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

    tick_df=pd.DataFrame(tick_data[['Symbol','MarketCapitalization','50DayMovingAverage','200DayMovingAverage','DividendPerShare','DividendYield']])"""
    return df

In [5]:
print(ticker_data('AAPL'))

  Symbol     AssetType       Name  \
0   AAPL  Common Stock  Apple Inc

                                         Description     CIK Exchange  \
0  Apple Inc. is an American multinational techno...  320193   NASDAQ

  Currency Country      Sector              Industry  ... EVToRevenue  \
0      USD     USA  TECHNOLOGY  ELECTRONIC COMPUTERS  ...        7.82

  EVToEBITDA   Beta  52WeekHigh  52WeekLow  50DayMovingAverage  \
0      23.19  1.308       197.7     123.48              179.74

   200DayMovingAverage  SharesOutstanding  DividendDate  ExDividendDate
0               175.45        15552800000    2023-11-16      2023-11-10

[1 rows x 46 columns]

In [14]:
def topgl():
    
    top_gl_url = 'https://www.alphavantage.co/query?function=TOP_GAINERS_LOSERS&apikey=OEW6DWI5S3P1B2N1'


    r = requests.get(top_gl_url)
    data = r.json()
    
    top_gainers_df = pd.DataFrame(data['top_gainers'])
    top_losers_df = pd.DataFrame(data['top_losers'])
    most_actively_traded_df = pd.DataFrame(data['most_actively_traded'])
    
    top_gainers_df['category'] = 'Top Gainers'
    top_losers_df['category'] = 'Top Losers'
    most_actively_traded_df['category'] = 'Most Actively Traded'

    # Concatenate the DataFrames vertically
    merged_df = pd.concat([top_gainers_df, top_losers_df, most_actively_traded_df], ignore_index=True)
    merged_df['change_percentage'] = merged_df['change_percentage'].replace('%', '', regex=True)

    # Convert columns to numeric if needed
    numeric_columns = ['price', 'change_amount', 'change_percentage', 'volume']
    merged_df[numeric_columns] = merged_df[numeric_columns].apply(pd.to_numeric, errors='coerce')
    
    return merged_df

In [4]:
def economic_indicators(unempl_url,nonfarm_payroll_url,fed_interest_url,durable_url,cpi_url,retail_sales_url,crude_url): 
    
    rc = requests.get(nonfarm_payroll_url)
    datafarm = rc.json()
    
    rc = requests.get(unempl_url)
    dataemp = rc.json()
    
    rc = requests.get(fed_interest_url)
    datafed = rc.json()
    
    rc = requests.get(durable_url)
    datadur = rc.json()
    
    rc = requests.get(cpi_url)
    datacpi = rc.json()
    
    rc = requests.get(retail_sales_url)
    dataretail = rc.json()
    
    rc = requests.get(crude_url)
    datawticrude = rc.json()
    

    print(datafarm)
    nonfarm = pd.DataFrame(datafarm['data'])
    unemploy = pd.DataFrame(dataemp['data'])
    fed_interest = pd.DataFrame(datafed['data'])
    durable = pd.DataFrame(datadur['data'])
    cpi = pd.DataFrame(datacpi['data'])
    retail_sales=pd.DataFrame(dataretail['data'])
    crude_wti=pd.DataFrame(datawticrude['data'])
    
    #treasury yield API data code
    treasury_df=[]
    typ=['2year', '5year', '10year']
    for p in typ:
        tyield_url = f'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=monthly&maturity={p}&apikey=OEW6DWI5S3P1B2N1'
        rc = requests.get(tyield_url)
        datatyld = rc.json()
        
        t_yield=pd.DataFrame(datatyld['data'])
        t_yield['category'] = f'Treasury {p} Yield'
        treasury_df.append(t_yield)
        
    t_yield_all = pd.concat(treasury_df)
    
    
    nonfarm['category'] = 'Non Farm Payrolls'
    unemploy['category'] = 'Unemployment Rate'
    fed_interest['category'] = 'FED Interest Rate'
    durable['category'] = 'Durable Goods Orders'
    cpi['category'] = 'Consumer Price Inflation'
    retail_sales['category'] = 'Retail Sales'
    crude_wti['category'] = 'Crude WTI'
    
    
    economic_df = pd.concat([nonfarm, unemploy, fed_interest,durable,cpi,retail_sales,crude_wti,t_yield_all])
    economic_df['date'] = pd.to_datetime(economic_df['date'])
    
    return pd.DataFrame(economic_df)

In [5]:
moddf=(economic_indicators(unempl_url,nonfarm_payroll_url,fed_interest_url,durable_url,cpi_url,retail_sales_url,crude_url))

{'name': 'Total Nonfarm Payroll', 'interval': 'monthly', 'unit': 'thousands of persons', 'data': [{'date': '2023-10-01', 'value': '157984'}, {'date': '2023-09-01', 'value': '156918'}, {'date': '2023-08-01', 'value': '156392'}, {'date': '2023-07-01', 'value': '156022'}, {'date': '2023-06-01', 'value': '156905'}, {'date': '2023-05-01', 'value': '156279'}, {'date': '2023-04-01', 'value': '155369'}, {'date': '2023-03-01', 'value': '154440'}, {'date': '2023-02-01', 'value': '153983'}, {'date': '2023-01-01', 'value': '152839'}, {'date': '2022-12-01', 'value': '155344'}, {'date': '2022-11-01', 'value': '155642'}, {'date': '2022-10-01', 'value': '155041'}, {'date': '2022-09-01', 'value': '153809'}, {'date': '2022-08-01', 'value': '153285'}, {'date': '2022-07-01', 'value': '152875'}, {'date': '2022-06-01', 'value': '153217'}, {'date': '2022-05-01', 'value': '152291'}, {'date': '2022-04-01', 'value': '151449'}, {'date': '2022-03-01', 'value': '150411'}, {'date': '2022-02-01', 'value': '149606'}, {'date': '2022-01-01', 'value': '147932'}, {'date': '2021-12-01', 'value': '150740'}, {'date': '2021-11-01', 'value': '150543'}, {'date': '2021-10-01', 'value': '149605'}, {'date': '2021-09-01', 'value': '147917'}, {'date': '2021-08-01', 'value': '147159'}, {'date': '2021-07-01', 'value': '146619'}, {'date': '2021-06-01', 'value': '146626'}, {'date': '2021-05-01', 'value': '145392'}, {'date': '2021-04-01', 'value': '144402'}, {'date': '2021-03-01', 'value': '143308'}, {'date': '2021-02-01', 'value': '142129'}, {'date': '2021-01-01', 'value': '140974'}, {'date': '2020-12-01', 'value': '143604'}, {'date': '2020-11-01', 'value': '144116'}, {'date': '2020-10-01', 'value': '143564'}, {'date': '2020-09-01', 'value': '141957'}, {'date': '2020-08-01', 'value': '140727'}, {'date': '2020-07-01', 'value': '139105'}, {'date': '2020-06-01', 'value': '138507'}, {'date': '2020-05-01', 'value': '133422'}, {'date': '2020-04-01', 'value': '130253'}, {'date': '2020-03-01', 'value': '149952'}, {'date': '2020-02-01', 'value': '150967'}, {'date': '2020-01-01', 'value': '150056'}, {'date': '2019-12-01', 'value': '152845'}, {'date': '2019-11-01', 'value': '153095'}, {'date': '2019-10-01', 'value': '152500'}, {'date': '2019-09-01', 'value': '151510'}, {'date': '2019-08-01', 'value': '151094'}, {'date': '2019-07-01', 'value': '150658'}, {'date': '2019-06-01', 'value': '151714'}, {'date': '2019-05-01', 'value': '151093'}, {'date': '2019-04-01', 'value': '150422'}, {'date': '2019-03-01', 'value': '149360'}, {'date': '2019-02-01', 'value': '148683'}, {'date': '2019-01-01', 'value': '147878'}, {'date': '2018-12-01', 'value': '150831'}, {'date': '2018-11-01', 'value': '151032'}, {'date': '2018-10-01', 'value': '150553'}, {'date': '2018-09-01', 'value': '149545'}, {'date': '2018-08-01', 'value': '149236'}, {'date': '2018-07-01', 'value': '148767'}, {'date': '2018-06-01', 'value': '149930'}, {'date': '2018-05-01', 'value': '149264'}, {'date': '2018-04-01', 'value': '148329'}, {'date': '2018-03-01', 'value': '147352'}, {'date': '2018-02-01', 'value': '146649'}, {'date': '2018-01-01', 'value': '145412'}, {'date': '2017-12-01', 'value': '148509'}, {'date': '2017-11-01', 'value': '148758'}, {'date': '2017-10-01', 'value': '148182'}, {'date': '2017-09-01', 'value': '147169'}, {'date': '2017-08-01', 'value': '146782'}, {'date': '2017-07-01', 'value': '146464'}, {'date': '2017-06-01', 'value': '147566'}, {'date': '2017-05-01', 'value': '146924'}, {'date': '2017-04-01', 'value': '146086'}, {'date': '2017-03-01', 'value': '145062'}, {'date': '2017-02-01', 'value': '144405'}, {'date': '2017-01-01', 'value': '143376'}, {'date': '2016-12-01', 'value': '146252'}, {'date': '2016-11-01', 'value': '146465'}, {'date': '2016-10-01', 'value': '146032'}, {'date': '2016-09-01', 'value': '145150'}, {'date': '2016-08-01', 'value': '144485'}, {'date': '2016-07-01', 'value': '144232'}, {'date': '2016-06-01', 'value': '145205'}, {'date': '2016-05-01', 'value': '144540'}, {'date': '2016-04-01', 'value': '143893'}, {'date': '2016-03-01', 'value': '142797'}, {'date': '2016-02-01', 'value': '141901'}, {'date': '2016-01-01', 'value': '141072'}, {'date': '2015-12-01', 'value': '144045'}, {'date': '2015-11-01', 'value': '144049'}, {'date': '2015-10-01', 'value': '143626'}, {'date': '2015-09-01', 'value': '142477'}, {'date': '2015-08-01', 'value': '141921'}, {'date': '2015-07-01', 'value': '141729'}, {'date': '2015-06-01', 'value': '142681'}, {'date': '2015-05-01', 'value': '142205'}, {'date': '2015-04-01', 'value': '141264'}, {'date': '2015-03-01', 'value': '140080'}, {'date': '2015-02-01', 'value': '139323'}, {'date': '2015-01-01', 'value': '138491'}, {'date': '2014-12-01', 'value': '141306'}, {'date': '2014-11-01', 'value': '141314'}, {'date': '2014-10-01', 'value': '140848'}, {'date': '2014-09-01', 'value': '139793'}, {'date': '2014-08-01', 'value': '139105'}, {'date': '2014-07-01', 'value': '138727'}, {'date': '2014-06-01', 'value': '139804'}, {'date': '2014-05-01', 'value': '139217'}, {'date': '2014-04-01', 'value': '138306'}, {'date': '2014-03-01', 'value': '137169'}, {'date': '2014-02-01', 'value': '136211'}, {'date': '2014-01-01', 'value': '135471'}, {'date': '2013-12-01', 'value': '138274'}, {'date': '2013-11-01', 'value': '138525'}, {'date': '2013-10-01', 'value': '138001'}, {'date': '2013-09-01', 'value': '137077'}, {'date': '2013-08-01', 'value': '136471'}, {'date': '2013-07-01', 'value': '136034'}, {'date': '2013-06-01', 'value': '137209'}, {'date': '2013-05-01', 'value': '136797'}, {'date': '2013-04-01', 'value': '135905'}, {'date': '2013-03-01', 'value': '134901'}, {'date': '2013-02-01', 'value': '134102'}, {'date': '2013-01-01', 'value': '133063'}, {'date': '2012-12-01', 'value': '135947'}, {'date': '2012-11-01', 'value': '136023'}, {'date': '2012-10-01', 'value': '135633'}, {'date': '2012-09-01', 'value': '134783'}, {'date': '2012-08-01', 'value': '134156'}, {'date': '2012-07-01', 'value': '133778'}, {'date': '2012-06-01', 'value': '134986'}, {'date': '2012-05-01', 'value': '134648'}, {'date': '2012-04-01', 'value': '133836'}, {'date': '2012-03-01', 'value': '132954'}, {'date': '2012-02-01', 'value': '132050'}, {'date': '2012-01-01', 'value': '131094'}, {'date': '2011-12-01', 'value': '133701'}, {'date': '2011-11-01', 'value': '133876'}, {'date': '2011-10-01', 'value': '133540'}, {'date': '2011-09-01', 'value': '132617'}, {'date': '2011-08-01', 'value': '131870'}, {'date': '2011-07-01', 'value': '131599'}, {'date': '2011-06-01', 'value': '132871'}, {'date': '2011-05-01', 'value': '132382'}, {'date': '2011-04-01', 'value': '131698'}, {'date': '2011-03-01', 'value': '130482'}, {'date': '2011-02-01', 'value': '129576'}, {'date': '2011-01-01', 'value': '128760'}, {'date': '2010-12-01', 'value': '131622'}, {'date': '2010-11-01', 'value': '131930'}, {'date': '2010-10-01', 'value': '131624'}, {'date': '2010-09-01', 'value': '130650'}, {'date': '2010-08-01', 'value': '130158'}, {'date': '2010-07-01', 'value': '130094'}, {'date': '2010-06-01', 'value': '131431'}, {'date': '2010-05-01', 'value': '131313'}, {'date': '2010-04-01', 'value': '130195'}, {'date': '2010-03-01', 'value': '129073'}, {'date': '2010-02-01', 'value': '128240'}, {'date': '2010-01-01', 'value': '127804'}, {'date': '2009-12-01', 'value': '130673'}, {'date': '2009-11-01', 'value': '131220'}, {'date': '2009-10-01', 'value': '131172'}, {'date': '2009-09-01', 'value': '130571'}, {'date': '2009-08-01', 'value': '130216'}, {'date': '2009-07-01', 'value': '130337'}, {'date': '2009-06-01', 'value': '131933'}, {'date': '2009-05-01', 'value': '132114'}, {'date': '2009-04-01', 'value': '131842'}, {'date': '2009-03-01', 'value': '131659'}, {'date': '2009-02-01', 'value': '131792'}, {'date': '2009-01-01', 'value': '132021'}, {'date': '2008-12-01', 'value': '135713'}, {'date': '2008-11-01', 'value': '136744'}, {'date': '2008-10-01', 'value': '137424'}, {'date': '2008-09-01', 'value': '137130'}, {'date': '2008-08-01', 'value': '137077'}, {'date': '2008-07-01', 'value': '137184'}, {'date': '2008-06-01', 'value': '138665'}, {'date': '2008-05-01', 'value': '138470'}, {'date': '2008-04-01', 'value': '137894'}, {'date': '2008-03-01', 'value': '137361'}, {'date': '2008-02-01', 'value': '136770'}, {'date': '2008-01-01', 'value': '136252'}, {'date': '2007-12-01', 'value': '139279'}, {'date': '2007-11-01', 'value': '139494'}, {'date': '2007-10-01', 'value': '139181'}, {'date': '2007-09-01', 'value': '138435'}, {'date': '2007-08-01', 'value': '137872'}, {'date': '2007-07-01', 'value': '137760'}, {'date': '2007-06-01', 'value': '139156'}, {'date': '2007-05-01', 'value': '138654'}, {'date': '2007-04-01', 'value': '137712'}, {'date': '2007-03-01', 'value': '136907'}, {'date': '2007-02-01', 'value': '136008'}, {'date': '2007-01-01', 'value': '135317'}, {'date': '2006-12-01', 'value': '138107'}, {'date': '2006-11-01', 'value': '138217'}, {'date': '2006-10-01', 'value': '137831'}, {'date': '2006-09-01', 'value': '137129'}, {'date': '2006-08-01', 'value': '136462'}, {'date': '2006-07-01', 'value': '136256'}, {'date': '2006-06-01', 'value': '137432'}, {'date': '2006-05-01', 'value': '136927'}, {'date': '2006-04-01', 'value': '136124'}, {'date': '2006-03-01', 'value': '135209'}, {'date': '2006-02-01', 'value': '134229'}, {'date': '2006-01-01', 'value': '133302'}, {'date': '2005-12-01', 'value': '135954'}, {'date': '2005-11-01', 'value': '136158'}, {'date': '2005-10-01', 'value': '135599'}, {'date': '2005-09-01', 'value': '134869'}, {'date': '2005-08-01', 'value': '134244'}, {'date': '2005-07-01', 'value': '133993'}, {'date': '2005-06-01', 'value': '135053'}, {'date': '2005-05-01', 'value': '134384'}, {'date': '2005-04-01', 'value': '133571'}, {'date': '2005-03-01', 'value': '132358'}, {'date': '2005-02-01', 'value': '131519'}, {'date': '2005-01-01', 'value': '130695'}, {'date': '2004-12-01', 'value': '133399'}, {'date': '2004-11-01', 'value': '133630'}, {'date': '2004-10-01', 'value': '133380'}, {'date': '2004-09-01', 'value': '132398'}, {'date': '2004-08-01', 'value': '131685'}, {'date': '2004-07-01', 'value': '131664'}, {'date': '2004-06-01', 'value': '132824'}, {'date': '2004-05-01', 'value': '132380'}, {'date': '2004-04-01', 'value': '131477'}, {'date': '2004-03-01', 'value': '130361'}, {'date': '2004-02-01', 'value': '129320'}, {'date': '2004-01-01', 'value': '128709'}, {'date': '2003-12-01', 'value': '131368'}, {'date': '2003-11-01', 'value': '131548'}, {'date': '2003-10-01', 'value': '131383'}, {'date': '2003-09-01', 'value': '130590'}, {'date': '2003-08-01', 'value': '129935'}, {'date': '2003-07-01', 'value': '129884'}, {'date': '2003-06-01', 'value': '131221'}, {'date': '2003-05-01', 'value': '130892'}, {'date': '2003-04-01', 'value': '130131'}, {'date': '2003-03-01', 'value': '129474'}, {'date': '2003-02-01', 'value': '128977'}, {'date': '2003-01-01', 'value': '128561'}, {'date': '2002-12-01', 'value': '131242'}, {'date': '2002-11-01', 'value': '131651'}, {'date': '2002-10-01', 'value': '131530'}, {'date': '2002-09-01', 'value': '130859'}, {'date': '2002-08-01', 'value': '130341'}, {'date': '2002-07-01', 'value': '130255'}, {'date': '2002-06-01', 'value': '131695'}, {'date': '2002-05-01', 'value': '131314'}, {'date': '2002-04-01', 'value': '130543'}, {'date': '2002-03-01', 'value': '129955'}, {'date': '2002-02-01', 'value': '129347'}, {'date': '2002-01-01', 'value': '128876'}, {'date': '2001-12-01', 'value': '131758'}, {'date': '2001-11-01', 'value': '132142'}, {'date': '2001-10-01', 'value': '132329'}, {'date': '2001-09-01', 'value': '132128'}, {'date': '2001-08-01', 'value': '131860'}, {'date': '2001-07-01', 'value': '131931'}, {'date': '2001-06-01', 'value': '133421'}, {'date': '2001-05-01', 'value': '133042'}, {'date': '2001-04-01', 'value': '132335'}, {'date': '2001-03-01', 'value': '131929'}, {'date': '2001-02-01', 'value': '131334'}, {'date': '2001-01-01', 'value': '130667'}, {'date': '2000-12-01', 'value': '133541'}, {'date': '2000-11-01', 'value': '133601'}, {'date': '2000-10-01', 'value': '133236'}, {'date': '2000-09-01', 'value': '132677'}, {'date': '2000-08-01', 'value': '132009'}, {'date': '2000-07-01', 'value': '131997'}, {'date': '2000-06-01', 'value': '133218'}, {'date': '2000-05-01', 'value': '132706'}, {'date': '2000-04-01', 'value': '131749'}, {'date': '2000-03-01', 'value': '130752'}, {'date': '2000-02-01', 'value': '129655'}, {'date': '2000-01-01', 'value': '128993'}, {'date': '1999-12-01', 'value': '131633'}, {'date': '1999-11-01', 'value': '131496'}, {'date': '1999-10-01', 'value': '131038'}, {'date': '1999-09-01', 'value': '130102'}, {'date': '1999-08-01', 'value': '129325'}, {'date': '1999-07-01', 'value': '129268'}, {'date': '1999-06-01', 'value': '130137'}, {'date': '1999-05-01', 'value': '129412'}, {'date': '1999-04-01', 'value': '128544'}, {'date': '1999-03-01', 'value': '127399'}, {'date': '1999-02-01', 'value': '126684'}, {'date': '1999-01-01', 'value': '125697'}, {'date': '1998-12-01', 'value': '128448'}, {'date': '1998-11-01', 'value': '128278'}, {'date': '1998-10-01', 'value': '127877'}, {'date': '1998-09-01', 'value': '127098'}, {'date': '1998-08-01', 'value': '126287'}, {'date': '1998-07-01', 'value': '126047'}, {'date': '1998-06-01', 'value': '127118'}, {'date': '1998-05-01', 'value': '126456'}, {'date': '1998-04-01', 'value': '125372'}, {'date': '1998-03-01', 'value': '124332'}, {'date': '1998-02-01', 'value': '123608'}, {'date': '1998-01-01', 'value': '122832'}, {'date': '1997-12-01', 'value': '125383'}, {'date': '1997-11-01', 'value': '125245'}, {'date': '1997-10-01', 'value': '124851'}, {'date': '1997-09-01', 'value': '123948'}, {'date': '1997-08-01', 'value': '122944'}, {'date': '1997-07-01', 'value': '122876'}, {'date': '1997-06-01', 'value': '123861'}, {'date': '1997-05-01', 'value': '123211'}, {'date': '1997-04-01', 'value': '122132'}, {'date': '1997-03-01', 'value': '121155'}, {'date': '1997-02-01', 'value': '120274'}, {'date': '1997-01-01', 'value': '119413'}, {'date': '1996-12-01', 'value': '121955'}, {'date': '1996-11-01', 'value': '121976'}, {'date': '1996-10-01', 'value': '121516'}, {'date': '1996-09-01', 'value': '120795'}, {'date': '1996-08-01', 'value': '120051'}, {'date': '1996-07-01', 'value': '119758'}, {'date': '1996-06-01', 'value': '120795'}, {'date': '1996-05-01', 'value': '120132'}, {'date': '1996-04-01', 'value': '119005'}, {'date': '1996-03-01', 'value': '118167'}, {'date': '1996-02-01', 'value': '117364'}, {'date': '1996-01-01', 'value': '116423'}, {'date': '1995-12-01', 'value': '119123'}, {'date': '1995-11-01', 'value': '119125'}, {'date': '1995-10-01', 'value': '118888'}, {'date': '1995-09-01', 'value': '118286'}, {'date': '1995-08-01', 'value': '117370'}, {'date': '1995-07-01', 'value': '117106'}, {'date': '1995-06-01', 'value': '118340'}, {'date': '1995-05-01', 'value': '117625'}, {'date': '1995-04-01', 'value': '116902'}, {'date': '1995-03-01', 'value': '116071'}, {'date': '1995-02-01', 'value': '115315'}, {'date': '1995-01-01', 'value': '114655'}, {'date': '1994-12-01', 'value': '116964'}, {'date': '1994-11-01', 'value': '116926'}, {'date': '1994-10-01', 'value': '116318'}, {'date': '1994-09-01', 'value': '115693'}, {'date': '1994-08-01', 'value': '114634'}, {'date': '1994-07-01', 'value': '114324'}, {'date': '1994-06-01', 'value': '115271'}, {'date': '1994-05-01', 'value': '114479'}, {'date': '1994-04-01', 'value': '113467'}, {'date': '1994-03-01', 'value': '112389'}, {'date': '1994-02-01', 'value': '111414'}, {'date': '1994-01-01', 'value': '110833'}, {'date': '1993-12-01', 'value': '113084'}, {'date': '1993-11-01', 'value': '112935'}, {'date': '1993-10-01', 'value': '112591'}, {'date': '1993-09-01', 'value': '111926'}, {'date': '1993-08-01', 'value': '110935'}, {'date': '1993-07-01', 'value': '110825'}, {'date': '1993-06-01', 'value': '111693'}, {'date': '1993-05-01', 'value': '111103'}, {'date': '1993-04-01', 'value': '110140'}, {'date': '1993-03-01', 'value': '109136'}, {'date': '1993-02-01', 'value': '108701'}, {'date': '1993-01-01', 'value': '108098'}, {'date': '1992-12-01', 'value': '110265'}, {'date': '1992-11-01', 'value': '110275'}, {'date': '1992-10-01', 'value': '110036'}, {'date': '1992-09-01', 'value': '109449'}, {'date': '1992-08-01', 'value': '108664'}, {'date': '1992-07-01', 'value': '108608'}, {'date': '1992-06-01', 'value': '109626'}, {'date': '1992-05-01', 'value': '109137'}, {'date': '1992-04-01', 'value': '108331'}, {'date': '1992-03-01', 'value': '107494'}, {'date': '1992-02-01', 'value': '106977'}, {'date': '1992-01-01', 'value': '106723'}, {'date': '1991-12-01', 'value': '109110'}, {'date': '1991-11-01', 'value': '109226'}, {'date': '1991-10-01', 'value': '109210'}, {'date': '1991-09-01', 'value': '108840'}, {'date': '1991-08-01', 'value': '108123'}, {'date': '1991-07-01', 'value': '108033'}, {'date': '1991-06-01', 'value': '109234'}, {'date': '1991-05-01', 'value': '108752'}, {'date': '1991-04-01', 'value': '108071'}, {'date': '1991-03-01', 'value': '107681'}, {'date': '1991-02-01', 'value': '107392'}, {'date': '1991-01-01', 'value': '107425'}, {'date': '1990-12-01', 'value': '109974'}, {'date': '1990-11-01', 'value': '110205'}, {'date': '1990-10-01', 'value': '110240'}, {'date': '1990-09-01', 'value': '110044'}, {'date': '1990-08-01', 'value': '109449'}, {'date': '1990-07-01', 'value': '109567'}, {'date': '1990-06-01', 'value': '110838'}, {'date': '1990-05-01', 'value': '110271'}, {'date': '1990-04-01', 'value': '109366'}, {'date': '1990-03-01', 'value': '108724'}, {'date': '1990-02-01', 'value': '108069'}, {'date': '1990-01-01', 'value': '107573'}, {'date': '1989-12-01', 'value': '109666'}, {'date': '1989-11-01', 'value': '109657'}, {'date': '1989-10-01', 'value': '109217'}, {'date': '1989-09-01', 'value': '108724'}, {'date': '1989-08-01', 'value': '107927'}, {'date': '1989-07-01', 'value': '107848'}, {'date': '1989-06-01', 'value': '108937'}, {'date': '1989-05-01', 'value': '108294'}, {'date': '1989-04-01', 'value': '107611'}, {'date': '1989-03-01', 'value': '106813'}, {'date': '1989-02-01', 'value': '106170'}, {'date': '1989-01-01', 'value': '105743'}, {'date': '1988-12-01', 'value': '107722'}, {'date': '1988-11-01', 'value': '107500'}, {'date': '1988-10-01', 'value': '107013'}, {'date': '1988-09-01', 'value': '106341'}, {'date': '1988-08-01', 'value': '105477'}, {'date': '1988-07-01', 'value': '105315'}, {'date': '1988-06-01', 'value': '106208'}, {'date': '1988-05-01', 'value': '105347'}, {'date': '1988-04-01', 'value': '104587'}, {'date': '1988-03-01', 'value': '103693'}, {'date': '1988-02-01', 'value': '102951'}, {'date': '1988-01-01', 'value': '102380'}, {'date': '1987-12-01', 'value': '104472'}, {'date': '1987-11-01', 'value': '104232'}, {'date': '1987-10-01', 'value': '103893'}, {'date': '1987-09-01', 'value': '102986'}, {'date': '1987-08-01', 'value': '102219'}, {'date': '1987-07-01', 'value': '101990'}, {'date': '1987-06-01', 'value': '102742'}, {'date': '1987-05-01', 'value': '102135'}, {'date': '1987-04-01', 'value': '101369'}, {'date': '1987-03-01', 'value': '100367'}, {'date': '1987-02-01', 'value': '99657'}, {'date': '1987-01-01', 'value': '99334'}, {'date': '1986-12-01', 'value': '101300'}, {'date': '1986-11-01', 'value': '101141'}, {'date': '1986-10-01', 'value': '100886'}, {'date': '1986-09-01', 'value': '100317'}, {'date': '1986-08-01', 'value': '99393'}, {'date': '1986-07-01', 'value': '99219'}, {'date': '1986-06-01', 'value': '99973'}, {'date': '1986-05-01', 'value': '99667'}, {'date': '1986-04-01', 'value': '98973'}, {'date': '1986-03-01', 'value': '98138'}, {'date': '1986-02-01', 'value': '97590'}, {'date': '1986-01-01', 'value': '97397'}, {'date': '1985-12-01', 'value': '99356'}, {'date': '1985-11-01', 'value': '99240'}, {'date': '1985-10-01', 'value': '98987'}, {'date': '1985-09-01', 'value': '98476'}, {'date': '1985-08-01', 'value': '97667'}, {'date': '1985-07-01', 'value': '97418'}, {'date': '1985-06-01', 'value': '98279'}, {'date': '1985-05-01', 'value': '97726'}, {'date': '1985-04-01', 'value': '96875'}, {'date': '19

In [6]:
moddftt = moddf.pivot(index='date', columns='category', values='value')

In [7]:
moddf

          date   value               category
0   2023-10-01  157984      Non Farm Payrolls
1   2023-09-01  156918      Non Farm Payrolls
2   2023-08-01  156392      Non Farm Payrolls
3   2023-07-01  156022      Non Farm Payrolls
4   2023-06-01  156905      Non Farm Payrolls
..         ...     ...                    ...
842 1953-08-01    2.95  Treasury 10year Yield
843 1953-07-01    2.93  Treasury 10year Yield
844 1953-06-01    3.11  Treasury 10year Yield
845 1953-05-01    3.05  Treasury 10year Yield
846 1953-04-01    2.83  Treasury 10year Yield

[7570 rows x 3 columns]

In [8]:
moddftt

category,Consumer Price Inflation,Crude WTI,Durable Goods Orders,FED Interest Rate,Non Farm Payrolls,Retail Sales,Treasury 10year Yield,Treasury 2year Yield,Treasury 5year Yield,Unemployment Rate
date,,,,,,,,,,
1913-01-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-02-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-03-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-04-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-05-01,9.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-06-01,305.109,70.25,324238.0,5.08,156905,612243.0,3.75,4.64,3.95,3.6
2023-07-01,305.691,76.07,261612.0,5.12,156022,605403.0,3.90,4.83,4.14,3.5
2023-08-01,307.026,81.39,290578.0,5.33,156392,628192.0,4.17,4.90,4.31,3.8
2023-09-01,307.789,89.43,308176.0,5.33,156918,594022.0,4.38,5.02,4.49,3.8
2023-10-01,307.671,85.64,279278.0,5.33,157984,608839.0,4.80,5.07,4.77,3.9

In [9]:
moddf.reset_index(inplace=True)

In [10]:
moddf['date'] = pd.to_datetime(moddf['date'])

In [111]:
moddf

category,date,Consumer Price Inflation,Durable Goods Orders,FED Interest Rate,Non Farm Payrolls,Unemployment Rate
0,1913-01-01,9.800,NaN,NaN,NaN,NaN
1,1913-02-01,9.800,NaN,NaN,NaN,NaN
2,1913-03-01,9.800,NaN,NaN,NaN,NaN
3,1913-04-01,9.800,NaN,NaN,NaN,NaN
4,1913-05-01,9.700,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1325,2023-06-01,305.109,324238.0,5.08,156905,3.6
1326,2023-07-01,305.691,261612.0,5.12,156022,3.5
1327,2023-08-01,307.026,290578.0,5.33,156392,3.8
1328,2023-09-01,307.789,308176.0,5.33,156918,3.8
1329,2023-10-01,307.671,279278.0,5.33,157984,3.9

In [11]:
moddf.to_csv('economic_indicators.csv', index=True)

In [12]:
moddftt.to_csv('economic_indicatorsvc.csv', index=True)

In [15]:
merged_df=topgl()

In [16]:
merged_df

,ticker,price,change_amount,change_percentage,volume,category
0,MINM,4.4800,3.5596,386.7449,74055310,Top Gainers
1,SRZNW,0.0437,0.0321,276.7241,31240,Top Gainers
2,AMPE,5.8500,3.8901,198.4846,19168071,Top Gainers
3,AUUDW,0.0340,0.0223,190.5983,362,Top Gainers
4,SNGX,0.9802,0.5648,135.9653,97456163,Top Gainers
5,RWODW,0.0400,0.0230,135.2941,1812,Top Gainers
6,AGBAW,0.0198,0.0108,120.0000,100,Top Gainers
7,BHIL+,0.0381,0.0201,111.6667,4157,Top Gainers
8,RFACR,0.1653,0.0843,104.0741,20,Top Gainers
9,GDNRW,0.0195,0.0094,93.0693,100,Top Gainers
10,BRSHW,0.0100,0.0047,88.6792,58760,Top Gainers
11,CRGOW,0.0745,0.0345,86.2500,10,Top Gainers
12,IXHL,7.9900,3.6700,84.9537,499500,Top Gainers
13,IMGN,29.3500,13.2900,82.7522,67643118,Top Gainers
14,NXGLW,0.2298,0.0998,76.7692,1581,Top Gainers
15,COEPW,0.0522,0.0222,74.0000,5254,Top Gainers
16,BZFDW,0.0380,0.0158,71.1712,7146,Top Gainers
17,INVZW,0.7500,0.3100,70.4545,41715,Top Gainers
18,INBS,0.4200,0.1597,61.3523,17861561,Top Gainers
19,OUST+A,0.0400,0.0150,60.0000,12685,Top Gainers
20,GGE,0.1832,-1.4268,-88.6211,75218092,Top Losers
21,VSACW,0.0025,-0.0130,-83.8710,611,Top Losers
22,IMACW,0.0021,-0.0079,-79.0000,1629,Top Losers
23,SXTPW,0.0250,-0.0650,-72.2222,1837,Top Losers
24,CUENW,0.0069,-0.0131,-65.5000,35403,Top Losers
25,ESGLW,0.0052,-0.0094,-64.3836,351,Top Losers
26,GDSTW,0.0145,-0.0210,-59.1549,1202,Top Losers
27,FNVTW,0.0081,-0.0116,-58.8832,11,Top Losers
28,CNGLW,0.0043,-0.0056,-56.5657,16,Top Losers
29,CURIW,0.0131,-0.0167,-56.0403,5959,Top Losers
30,NVNIW,0.0300,-0.0355,-54.1985,122189,Top Losers
31,CMAXW,0.0305,-0.0345,-53.0769,3695,Top Losers
32,FIACW,0.0160,-0.0180,-52.9412,106971,Top Losers
33,WHLRL,28.0000,-28.3584,-50.3180,1,Top Losers
34,NRXPW,0.0500,-0.0500,-50.0000,631,Top Losers
35,ACABW,0.0180,-0.0179,-49.8607,903919,Top Losers
36,LCAHW,0.0351,-0.0348,-49.7854,235,Top Losers
37,BCDAW,0.0510,-0.0490,-49.0000,1,Top Losers
38,RCRTW,0.0051,-0.0049,-49.0000,6,Top Losers
39,PORT+,0.0160,-0.0140,-46.6667,510526,Top Losers
40,SQQQ,16.0250,0.1350,0.8496,133654861,Most Actively Traded
41,TSLA,239.7900,-4.3500,-1.7818,128783468,Most Actively Traded
42,LMDX,0.1725,0.0551,46.9336,115875764,Most Actively Traded
43,BETS,0.0271,0.0037,15.8120,104815015,Most Actively Traded
44,SNGX,0.9802,0.5648,135.9653,97456163,Most Actively Traded
45,MCOM,0.0135,-0.0017,-11.1842,95993703,Most Actively Traded
46,TQQQ,43.8400,-0.4000,-0.9042,92422409,Most Actively Traded
47,LU,0.8504,0.0090,1.0696,91723985,Most Actively Traded
48,NKLA,0.9724,-0.0376,-3.7228,86727680,Most Actively Traded
49,SOXS,8.4550,0.1650,1.9903,83312645,Most Actively Traded
50,CNHI,10.7350,0.0450,0.4210,81401438,Most Actively Traded
51,F,10.2600,-0.3300,-3.1161,79075988,Most Actively Traded
52,SPY,456.2400,1.6300,0.3585,75779644,Most Actively Traded
53,GGE,0.1832,-1.4268,-88.6211,75218092,Most Actively Traded
54,MINM,4.4800,3.5596,386.7449,74055310,Most Actively Traded
55,GMBL,0.0187,-0.0033,-15.0000,73579949,Most Actively Traded
56,CYTO,0.3943,-0.2502,-38.8208,68383903,Most Actively Traded
57,IMGN,29.3500,13.2900,82.7522,67643118,Most Actively Traded
58,AMZN,146.0500,-0.2700,-0.1845,63720142,Most Actively Traded
59,LABU,3.8550,0.2350,6.4917,60313354,Most Actively Traded

In [17]:
merged_df.to_csv('day_topstocks.csv', index=True)

In [ ]:
companyoverview_url=f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={ticker}&apikey=F5G3ECI5K968B229'

In [19]:
moddftt

category,Consumer Price Inflation,Crude WTI,Durable Goods Orders,FED Interest Rate,Non Farm Payrolls,Retail Sales,Treasury 10year Yield,Treasury 2year Yield,Treasury 5year Yield,Unemployment Rate
date,,,,,,,,,,
1913-01-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-02-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-03-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-04-01,9.800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-05-01,9.700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2023-06-01,305.109,70.25,324238.0,5.08,156905,612243.0,3.75,4.64,3.95,3.6
2023-07-01,305.691,76.07,261612.0,5.12,156022,605403.0,3.90,4.83,4.14,3.5
2023-08-01,307.026,81.39,290578.0,5.33,156392,628192.0,4.17,4.90,4.31,3.8
2023-09-01,307.789,89.43,308176.0,5.33,156918,594022.0,4.38,5.02,4.49,3.8
2023-10-01,307.671,85.64,279278.0,5.33,157984,608839.0,4.80,5.07,4.77,3.9

In [20]:
moddftt.index

DatetimeIndex(['1913-01-01', '1913-02-01', '1913-03-01', '1913-04-01',
               '1913-05-01', '1913-06-01', '1913-07-01', '1913-08-01',
               '1913-09-01', '1913-10-01',
               ...
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01'],
              dtype='datetime64[ns]', name='date', length=1330, freq=None)